 * {
	font-family: "sen", sans-serif;
    font-weight: 100;
}


body {
	background: #E9ECF4;
	color: #000;
}	

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer  {
	background: white;
	padding: 20px;
	border-radius: 4px;

}

.contenedor .header {
	background: #12203E ;
	color: white;
	grid-column: 1/4;
}

.contenedor .contenido {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.contenedor .sidebar {
	grid-column: 3/4;
	grid-row: 2/4;
	text-align: center;
	background:#fAA43D;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #55A8FD;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .footer {
	grid-column: 1 / 3;
	background: #12203e;
	color: #fff;
}
